.buttonsContainer {
    display: flex;
    gap: 21px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.clock {}

.watch {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: left;
    margin-bottom: 8px;
}

.watch strong {}

.more {
    margin-bottom: 27px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;

}