.friendMessage {
    background-color: #F5F7FB;
    border-radius: 10px 10px 10px 0px;
    font-size: 14px;
    padding: 12px 20px;
    max-width: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    filter: drop-shadow(#1d21261a 0px 1px 2px);
    position: relative;
    margin-left: 26px;
    margin-bottom: 60px;
    z-index: 2;
    margin-left: 60px;
}

.friendMessage::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 93.5%;
    margin: auto 0;
    border: 17px solid transparent;
    border-right: 24px solid #F5F7FB;
    border-bottom: 15px solid #F5F7FB;
    z-index: -1;
}

.friendImageAndText {}

.friendImageAndText img {
    width: 48px;
    height: auto;
    position: absolute;
    left: -60px;
    bottom: 0;
}

.friendText{
    
    
}

.friendText:after {}

.friendName {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.friendMessageText {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 400;
}

.friendTime {
    font-size: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    position: absolute;
    left: -48px;
    bottom: -18px;
}